/* a {
    display: block;
};

    body{
      backgroundColor: white,
    };
  
  .paper{
   
    display: 'flex',
    
   
  };
 
  form {
    width: 100%, 
    
  }; */
 .dd {
     margin: 0 auto;
 }